# COVID-19

## 1. Have an idea

### The purpose of this task is:
- to determine whether quarantine is effective in preventing the spread of the virus
- to see which countries were the most successful at containing the virus by implementing quarantine

### What is coronavirus?

Coronaviruses are a large family of viruses which may cause illness in animals or humans.  In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS). The most recently discovered coronavirus causes coronavirus disease COVID-19.

### What is COVID-19?

COVID-19 is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019.

### What are the symptoms of COVID-19?

The most common symptoms of COVID-19 are fever, tiredness, and dry cough. Some patients may have aches and pains, nasal congestion, runny nose, sore throat or diarrhea. These symptoms are usually mild and begin gradually. Some people become infected but don’t develop any symptoms and don't feel unwell. Most people (about 80%) recover from the disease without needing special treatment. Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart problems or diabetes, are more likely to develop serious illness.

### How does COVID-19 spread?

People can catch COVID-19 from others who have the virus. The disease can spread from person to person through small droplets from the nose or mouth which are spread when a person with COVID-19 coughs or exhales. These droplets land on objects and surfaces around the person. Other people then catch COVID-19 by touching these objects or surfaces, then touching their eyes, nose or mouth. People can also catch COVID-19 if they breathe in droplets from a person with COVID-19 who coughs out or exhales droplets. This is why it is important to stay more than 1 meter (3 feet) away from a person who is sick.

### What is quarantine?

Governments use quarantines to stop the spread of contagious diseases. Quarantines are for people or groups who don’t have symptoms but were exposed to the sickness. A quarantine keeps them away from others so they don’t unknowingly infect anyone.

### What is the difference between isolation and quarantine?

Isolation separates sick people with a contagious disease from people who are not sick.

Quarantine separates and restricts the movement of people who were exposed to a contagious disease to see if they become sick.

## 2. Collection of data

The dataset used in this task was found through a Google-based dataset search engine (https://datasetsearch.research.google.com/). The first result of the search was an offical dataset of COVID-19 from WHO. Here is a repository that contains data of COVID-19 outbreak with code used to web scrap, data mung and cleaning (https://github.com/imdevskp/covid_19_jhu_data_web_scrap_and_cleaning).

## 3. Data Cleaning

### Import libraries

In [5]:
import numpy as np
import pandas as pd

### Read the data

In [8]:
data = pd.read_csv('covid_19.csv')

In [9]:
data

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2.0,0.0,0.0
1,NaN,Japan,36.0000,138.0000,1/22/20,2.0,0.0,0.0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0.0,0.0,0.0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0.0,0.0,0.0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
19215,NaN,Jersey,49.1900,-2.1100,3/23/20,0.0,0.0,0.0
19216,NaN,Puerto Rico,18.2000,-66.5000,3/23/20,0.0,1.0,0.0
19217,NaN,Republic of the Congo,-1.4400,15.5560,3/23/20,0.0,0.0,0.0
19218,NaN,The Bahamas,24.2500,-76.0000,3/23/20,0.0,0.0,0.0
19219,NaN,The Gambia,13.4667,-16.6000,3/23/20,0.0,0.0,0.0

### Identify the type of variables in the dataset

In [12]:
data.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
Date               object
Confirmed         float64
Deaths            float64
Recovered         float64
dtype: object

## 4. Data Analysis